{
    "env": {
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended", 
        "@open-wc/eslint-config",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "import/extensions": "off", 
        "prefer-const":"warn",
        "no-console":"off"
    }
}
